[Unit]
Description=Gunicorn instance to serve web_dynamic/2-hbnb.py
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log web_dynamic.2-hbnb:application
Restart=always
SyslogIdentifier=gunicorn
StandardOutput=syslog
StandardError=syslog
SyslogFacility=local7
SyslogLevel=info

[Install]
WantedBy=multi-user.target

